include README.md
include requirements.txt
recursive-include octoprint_BearLevelingGuide/templates *
recursive-include octoprint_BearLevelingGuide/translations *
recursive-include octoprint_BearLevelingGuide/static *
